* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
html {
  scroll-behavior: smooth;
}
body {
  width: 100vw;
  height: 5000px;
  background-image: url('img/kai-pilger-Ef6iL87-vOA-unsplash.jpg');
  background-repeat: repeat;
}
#logo {
  width: 20rem;
  position: absolute;
  left: 7%;
}
#header {
  height: 21%;
  width: 40%;
  right: 10%;
  margin: auto;
  align-items: center;
  display: flex;
  justify-content: space-between;
  color: #72eeda;
  position: fixed;
  top: 0;
  transition: top 0.3s;
  z-index: 3;
}
#header a {
  display: inline-block;
  padding: 20px 0;
  font-family: 'ibm-plex-mono', sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
  color: white;
  transition: all 0.1s ease;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}
#header a:hover {
  border-bottom: 1px solid white;
  cursor: pointer;
  transition: all 0.3s ease;
}
button {
  text-align: center;
  font-size: 0.8rem;
  font-family: 'ibm-plex-mono', sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 2.5px solid #003e78;
  padding: 15px;
  border-radius: 5px;
  background: white;
}
.hero {
  position: relative;
  height: 100vh;
  padding: 65px 0;
}
.hero-text {
  position: relative;
  width: 49%;
  top: 40%;
  left: 8%;
  z-index: 2;
}
.hero-text > h1 {
  color: white;
  font-family: 'ibm-plex-mono', sans-serif;
  font-weight: 800;
  font-size: 2rem;
}
.hero-text > p {
  color: white;
  padding: 20px 0;
  font-size: 1rem;
  font-family: 'ibm-plex-mono', sans-serif;
  width: 85%;
}
.hero-img {
  height: 70%;
  position: absolute;
  right: 0rem;
  bottom: 0rem;
  /* border: 2px solid #003e78;
  border-radius: 5px; */
}
span {
  color: white;
  padding: 20px 0;
  font-size: 1.6rem;
  font-family: 'ibm-plex-mono', sans-serif;
  font-weight: bold;
}
.fa-long-arrow-alt-right {
  font-size: 2.5rem;
  padding-left: 1rem;
  padding-top: 2px;
  position: absolute;
}
span:hover {
  padding-left: 25px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.scroll {
  height: 29px;
  position: absolute;
  bottom: 2rem;
  left: 30%;
  transform: rotate(90deg);
  border-bottom: 1px solid white;
  width: 200px;
  padding-bottom: 10px;
  overflow: hidden;
}

.scroll p {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.27px;
  color: white;
}

.packages {
  height: 100vh;
  color: white;
  display: flex;
  text-align: center;
  justify-content: center;
  position: relative;
}
.packages-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.packages-text > h1 {
  color: white;
  font-family: 'ibm-plex-mono', sans-serif;
  font-weight: 800;
  font-size: 2rem;
}
.packages-text > p {
  color: white;
  padding: 20px 10%;
  font-size: 1rem;
  font-family: 'ibm-plex-mono', sans-serif;
  font-weight: 200;
}

.cupola {
  position: relative;
  height: 100vh;
  padding: 65px 0;
}
.cupola-text {
  position: relative;
  width: 49%;
  top: 450px;
  left: 8%;
  z-index: 2;
}
.cupola-text > h1 {
  color: white;
  font-family: 'ibm-plex-mono', sans-serif;
  font-weight: 800;
  font-size: 2rem;
}
.cupola-text > p {
  color: white;
  padding: 20px 0;
  font-size: 1rem;
  font-family: 'ibm-plex-mono', sans-serif;
  width: 85%;
  font-weight: 200;
}
.cupola-img {
  position: absolute;
  height: 48rem;
  right: 0rem;
  top: 2rem;
}

#work-wrapper {
  display: grid;
  gap: 2em;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2rem;
  /* height: 100vh; */
}
/* .work-title {
  font-family: 'acumin-pro-wide', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  line-height: 27px;
  margin-bottom: 7px;
  margin-top: 2rem;
} */

.img-container img {
  width: 100%;
  height: 300px;
  transition: all 0.3s ease;
}
.img-container img:hover {
  opacity: 0.8;
  border: 2px solid white;
  cursor: pointer;
}
.work-description {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}
.work-description .bold {
  font-family: 'acumin-pro-wide', sans-serif;
  font-weight: 700;
  font-style: normal;
}
.normal {
  font-family: 'ibm-plex-mono', sans-serif;
  font-weight: 300;
  font-style: normal;
  text-align: start;
}
